{% extends 'projects/base.html' %}
{% load static %}
    {% block 'content'%}
        <h1 class="count"><b>{{all_posts.count}} Blog{{all_posts.count|pluralize}} here</b></h1>
        <div class="container">
            {% for post in all_posts %}
            <a href="{% url 'blog:detail' post.id %}" data-aos="slide-up" data-aos-duration="1300">
                <div class="card">
                    <div class="blog_a">
                        <h2>{{ post.title }}</h2>
                    </div>
                    <div class="blog_date">
                        <h5>-- {{ post.dateofpost|date:'j M Y'|upper}} --</h5>
                    </div>
                    <div class="blog_desc">
                        <h3>{{ post.desc|striptags|truncatechars:600}}</h3>
                    </div>
                     
                </div>
            </a>
            {%endfor%}
        </div>
    {%endblock%}
