<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 align=center>There <b>{{all_posts.count}}Blog{{all_posts.count|pluralize}}</b></h1>
    {% for post in all_posts %}
    <a href="{% url 'blog:detail' post.id %}"><h2>{{ post.title }}</h2></a>
    <h5>{{ post.dateofpost|date:'j M Y'|upper}}</h5>
    <h3>{{ post.desc|striptags|truncatechars:150}}</h3>
    {%endfor%}
</body>
</html>