{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=toggle-device-width, initial-scale=1.0,">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'projects/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/detail.css' %}">
    <link rel="stylesheet" href="{% static 'projects/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>kipkeev2.0</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}" class="logo_a"><span class="logo_text">kipkeev 2.0</span></a>
        <div class="links">
            <a class="inst" href="https://instagram.com" target="blank">Instagram</a>
            <a class = "resume" href="{% static 'projects/resume.pdf' %}" target="blank">Resume</a>
            <a class="blog_btn" href="{% url 'blog:blogpage' %}"><div class="btndiv">Blog</div></a>
        </div>
    </nav>
      {% block 'content'%}{% endblock %}
      <footer>
        <ul>
          <li class="footer_logo">KIPKEEV 2.0</li>
          <a class = "resume_h" href="{% static 'projects/resume.pdf' %}" target="blank"><li>Resume</li></a>
          <a class="inst_h" href="https://instagram.com" target="blank">Instagram</a>
          <a href="{% url 'blog:blogpage' %}"><li>Blog</li></a>
        </ul>
      </footer>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
</body>
</html>